In [3]:
import pandas as pd

In [12]:
dataset = pd.read_excel("Final Mobile Dataset 2.xlsx")

In [23]:
dataset

,Unnamed: 0,Budget,Priority 1,Priority 2,Priority 3,Priority 4,Priority 5,Processor,RAM,Back Camera,Front Camera,Screen,Battery
1,1,7500,2,3,5,4,0,95000,2,75,38,720,720
2,2,7500,3,4,2,1,0,44836,3,53,48,1080,1080
3,3,7500,4,1,2,5,3,95000,2,75,38,720,720
4,4,7500,3,0,1,2,5,44836,3,53,48,1080,1080
5,5,7500,0,2,1,5,4,34225,1,57,39,720,720
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,165,120000,3,2,5,1,0,594890,12,121,101,1440,1440
166,166,120000,3,5,4,1,2,594890,12,121,101,1440,1440
167,167,120000,4,3,2,0,1,594890,12,121,101,1440,1440
168,168,120000,5,4,2,0,1,594890,12,121,101,1440,1440
169,169,120000,5,2,0,3,1,594890,12,121,101,1440,1440

In [22]:
dataset=dataset.drop(0)

KeyError: '[0] not found in axis'

In [35]:
X = dataset.iloc[:,1:7]
y = dataset.iloc[:,7:12]

In [36]:
X=X.to_numpy()
X

array([[  7500,      2,      3,      5,      4,      0],
       [  7500,      3,      4,      2,      1,      0],
       [  7500,      4,      1,      2,      5,      3],
       ...,
       [120000,      4,      3,      2,      0,      1],
       [120000,      5,      4,      2,      0,      1],
       [120000,      5,      2,      0,      3,      1]], dtype=int64)

In [5]:
db = pd.read_excel("Mobile Dataset.xlsx")

In [30]:
import numpy as np

pred =np.array([[1.0484e+05, 3.0000e+00, 8.0000e+01, 7.2000e+01, 1.0230e+03, 4.6540e+03]])

In [28]:
pred

array([[1.75677e+05, 5.00000e+00, 7.90000e+01, 7.00000e+01, 9.03000e+02,
        4.68400e+03]])

In [17]:
mobiles=db.iloc[:,:2].to_numpy()

In [16]:
specs=db.iloc[:,[3,4,5,7,8,9]].to_numpy()

In [58]:
mindiff = float("inf")
mobile = float("inf")
from sklearn.preprocessing import StandardScaler,normalize
pred = normalize(pred)
specs = normalize(specs)
for i in range(len(specs)):
    diff = 0
    for j in range(len(specs[0])):
        diff+=abs((specs[i][j]-pred[0][j]))
    if diff<mindiff:
        mindiff=diff
        mobile=i
print(mobiles[mobile])

['Xiaomi' 'Poco X3-6 64']